.dataTable .dataGrid {
  background: white;
  padding: 20px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 5px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer .MuiButtonBase-root svg {
  font-size: 1.5rem;
}