.dataTable {
  background: #960A2C;
  padding: 20px;
}

.dataTable .dataGrid {
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px #b31139;
  padding: 20px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  flex-direction: row-reverse;
}

.dataTable .dataGrid img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.dataTable .dataGrid .action {
  display: flex;
  gap: 15px;
}

.dataTable .dataGrid .action img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
