@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  color: #7d1f2e;
}

[data-theme="dark"] body {
  background-color: #2a3447;
  color: #000;
}

[data-theme="dark"] .sidebar {
  border: none;
}

[data-theme="dark"] .gridBorder {
  border: 0.1rem solid #fff;
}

.formShadow {
  border-radius: 0.5rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
  padding: 2rem;
  background-color: #fff;
  color: #7d1f2e;
  border: 2px solid #fff;
  scrollbar-width: thin;
  overflow: scroll;
}

.formShadow::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.formShadow::-webkit-scrollbar-thumb {
  background: #7d1f2e;
  border-radius: 6px;
}

.formShadow::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.formShadow::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

.formShadow::-webkit-scrollbar-track:hover {
  background: #ccc;
}

/* -------------- */

.alertShadow {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 4rem;
  width: 20rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fffb;
}
/* -------------- */

.popUp::-webkit-scrollbar {
  width: 4px;
}

.popUp::-webkit-scrollbar-thumb {
  background: #7d1f2e;
  border-radius: 6px;
}

.popUp::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.popUp::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

.popUp::-webkit-scrollbar-track:hover {
  background: #ccc;
}

.topboxheader {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.topboxNames {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.blob {
  border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
}

.dataTable .dataGrid {
  background: white;
  padding: 20px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 5px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer .MuiButtonBase-root svg {
  font-size: 1.5rem;
}

h1 {
  font-size: 24px;
}

input {
  @apply px-2;
}
  .fc-header-toolbar {
    display: inline-block;
    padding: 4px 4px;
    
    @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-100 ;
}

.fc .fc-button{
  @apply bg-violet-800 hover:bg-violet-900  ;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}