@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
  color: #000;
}

/* [data-theme="dark"] body {
  background-color: #2a3447;
  color: #000;
}

[data-theme="dark"] .sidebar {
  border: none;
}

[data-theme="dark"] .gridBorder {
  border: 0.1rem solid #fff;
} */

.formShadow {
  border-radius: 0.5rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
  padding: 2rem;
  background-color: #fff;
  color: #7d1f2e;
  border: 2px solid #f3f3f3;
  scrollbar-width: thin;
  overflow: scroll;
}

.formShadow::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.formShadow::-webkit-scrollbar-thumb {
  background: #7d1f2e;
  border-radius: 6px;
}

.formShadow::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.formShadow::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

.formShadow::-webkit-scrollbar-track:hover {
  background: #ccc;
}

/* -------------- */

.alertShadow {
  position: fixed;
  top: 2rem;
  right: 1rem;
  height: 4rem;
  width: 20rem;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1), -5px -5px 20px #fffb;
}
/* -------------- */

.popUp::-webkit-scrollbar {
  width: 4px;
}

.popUp::-webkit-scrollbar-thumb {
  background: #7d1f2e;
  border-radius: 6px;
}

.popUp::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.popUp::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

.popUp::-webkit-scrollbar-track:hover {
  background: #ccc;
}

.topboxheader {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.topboxNames {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
}

.studentId {
  font-size: 1rem;
}

/* Media query for smaller screens */
@media screen and (max-width: 1800px) {
  .topboxheader {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .topboxNames {
    font-size: 1rem; /* Adjust the font size for smaller screens */
  }

  .studentId {
    font-size: 0.8rem;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 1200px) {
  .topboxheader {
    font-size: 1.3rem; /* Adjust the font size for smaller screens */
  }

  .topboxNames {
    font-size: 0.8rem; /* Adjust the font size for smaller screens */
  }

  .studentId {
    font-size: 0.7rem;
  }
}

.blob {
  border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
}

.dataTable .dataGrid {
  background: white;
  padding: 20px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 5px;
}

.dataTable .dataGrid .MuiDataGrid-toolbarContainer .MuiButtonBase-root svg {
  font-size: 1.5rem;
}

h1 {
  font-size: 24px;
}

/* .notepadLines {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.notepadLines::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 1.5em,
    #ccc 1.5em,
    #ccc 1.6em,
    transparent 1.6em
  );
  background-size: 100% 1.6em;
  pointer-events: none;
} */

@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

.card {
  gap: 2rem;
  font-family: "Oswald", sans-serif;
}

.card__content {
  width: 15rem;
  height: 12rem;
  text-align: center;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card__content:hover {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
}

.card__front {
  background-color: #fff;
  background-size: cover;
  background-blend-mode: overlay;
}

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  transform: var(--level-one);
  border-radius: 10px;
}

.card__title {
  font-size: 1.3rem;
  color: #8b2333;
  font-weight: 600;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1.2rem;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
  color: #fff;
  background-color: #8b2333;
  border-radius: 10px;
}

/* Media query for even smaller screens */
@media screen and (max-width: 800px) {
  .card__content {
    width: 10rem;
    height: 8rem;
  }

  .card__title {
    font-size: 0.8rem;
  }
  .card__body {
    font-size: 0.7rem;
  }
}


@media screen and (max-width: 400px) {
  .card__content {
    width: 8rem;
    height: 8rem;
  }

  .card__title {
    font-size: 0.7rem;
  }
  .card__body {
    font-size: 0.6rem;
  }
}
